<form #userform = "ngForm" (ngSubmit)="onSubmit" novalidate class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Company (disabled)</mat-label>
    <input matInput disabled value="PT ARSOFT">
  </mat-form-field>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width">
      <mat-label for="fisrtname">First name</mat-label>
      <input matInput name="firstname" [(ngModel)]="formData.firstname">
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <mat-label for="lastname">Long Last Name That Will Be Truncated</mat-label>
      <input matInput name="lastname" [(ngModel)]="formData.lastname">
    </mat-form-field></td>
  </tr></table>

  <p>
    <mat-form-field class="example-full-width">
      <mat-label for="addres">Address</mat-label>
      <textarea matInput placeholder="Ex. 100 Main St" name="address" [(ngModel)]="formData.address"></textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label for="addres2">Address 2</mat-label>
      <textarea matInput name="addres2" [(ngModel)]="formData.address2"></textarea>
    </mat-form-field>
  </p>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width">
      <mat-label for="city">City</mat-label>
      <input matInput placeholder="Ex. San Francisco" name="city" [(ngModel)]="formData.city">
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <mat-label for="state">State</mat-label>
      <input matInput placeholder="Ex. California" name="state" [(ngModel)]="formData.state">
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <mat-label for="postal-code">Postal Code</mat-label>
      <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" value="" name="postalcode" [(ngModel)]="formData.postalcode">
      <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
    </mat-form-field></td>
  </tr></table>
  <button type="button" class="add-button" (click)="onSubmit()">
    Submit
  </button>
</form>

<div *ngIf="submitted">
  <h3>Submitted Data:</h3>
  <p>First Name: {{ formData.firstname }}</p>
  <p>Last Name: {{ formData.lastname }}</p>
  <p>Address: {{ formData.address }}</p>
  <p>Address 2: {{ formData.address2 }}</p>
  <p>City: {{ formData.city }}</p>
  <p>State: {{ formData.state }}</p>
  <p>Postal Code: {{ formData.postalcode }}</p>
  <button type="button" class="clear"
          (click)="clear()">Clear Messages Submitted Data</button>
</div>
